
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

:root{
    --light-blue: rgb(227 232 240);
    --blue: rgb(71 146 209);
    --yellow: rgb(230 180 60);
    --white: white;
    --avatar: rgb(254, 197, 197); /*#ffaeae*/
    font-family: system-ui, sans-serif;
}

nav{
    grid-row: 1 / -1;
}

.icon{
    max-width: 20px;
}

.head{
    grid-template-columns: 2fr 1fr;
    padding: 16px 32px;
    padding-right: 40px;
}

#hi{
    font-weight: bold;
    gap: 6px;
}

#hi-there img{ 
    max-width: 56px;
    border-width: 8px;
}

#hi span:nth-child(2){
    font-size: 1.25em;
}

#hi span:first-child{
    font-size: 0.85em;
}



#actions{
    gap: 32px;
   justify-self: end; 
}

#hi-there{
    justify-self: start;
    gap: 32px;
}


#search{
    justify-content: start;
    grid-template-columns: auto 80%;
    gap: 24px;
}

 #user{
    justify-self: end;
    gap: 32px;
}


.container .head:nth-child(2){
    box-shadow: 2px 3px 3px 0px rgb(214 219 227);
    z-index: 2; 
    padding-right: 32px; 
}

button{
    padding: 8px 24px;
}

.container{
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(3, auto);
}

input{
    height: 28px;
}

img[alt="cat avatar"]{
    border-color: var(--avatar);
}

.same-pad{
    margin-bottom: 8px; 
    align-self: end;
}

.blue{
    border-color: var(--blue);
    background-color: var(--blue);
    color: white;
}


.light-blue{
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}

.circle-border{
    border-radius: 50%;
}

.border{
    border: 0px solid;
}

.rounded-border{
    border-radius: 15px / 50%;
}

.avatar{
    max-width: 34px;
    border: 6px solid;
}

.grid-col-center{
   display: grid;
   grid-auto-flow: column; 
   justify-content: center;
   align-items: center;
}

.grid-row{
    display: grid;
}